<div class="w-screen h-screen bg-green-50 p-24">
    <div class="w-full h-full flex flex-row">
        <div class="w-fit flex-2/5 rounded-s-4xl bg-white px-16 py-2 flex flex-col shadow-2xl">
            <div class="flex-1/12 flex items-center text-md font-bold">
                <span>Angular without SSR <span class="text-green-900">Challenge</span></span>
            </div>
            <div class="flex-10/12 flex flex-col justify-around items-center">
                <span class="text-3xl font-bold">Bonjour !</span>
                <span class="text-xs text-gray-500 font-light">Challenge portant sur le server side rendering avec
                    Angular</span>
                <input
                    class="w-full p-2.5 bg-gray-100 placeholder:font-light placeholder:text-xs placeholder:text-gray-500 rounded-md focus:outline-1 focus:outline-gray-500"
                    type="email" placeholder="Votre adresse email" />
                <input
                    class="w-full p-2.5 bg-gray-100 placeholder:font-light placeholder:text-xs placeholder:text-gray-500 rounded-md focus:outline-1 focus:outline-gray-500"
                    type="password" placeholder="Votre mot de passe" />
                <a class="text-xs text-green-900 font-bold self-start hover:cursor-pointer" href="#">Mot de passe oublié
                    ?</a>
                <button
                    class="w-full p-2.5 bg-green-900 text-white font-semibold rounded-md hover:cursor-pointer active:scale-95">Connexion</button>
                <span class="text-xs text-gray-500 font-light">Vous n'avez pas de compte ? <a
                        class="text-xs text-green-900 font-bold self-start hover:cursor-pointer" routerLink="../signup">Inscrivez vous
                        !</a></span>
            </div>
            <div class="flex-1/12"></div>
        </div>
        <div class="w-fit flex-3/5">
            <img class="w-full h-full rounded-e-4xl" src="assets/images/leader_img.jpg" alt="Leader" />
        </div>
    </div>
</div>